.div1 {
    grid-area: header;
    display: flex;
    justify-content: space-between;
    text-align: end;
    background-color: cornflowerblue;
}

.div6 {
    grid-area: footer;
    display: flex;
    justify-content: space-between;
    text-align: end;
    background-color: cornflowerblue;
}

.div4 {
    grid-area: right_b;
    text-align: end;
    background-color: coral;
}

.div2 {
    grid-area: left_b;
    text-align: end;
    background-color: coral;
}

.div5 {
    grid-area: center_s;
    text-align: center;
    background-color: greenyellow;
}

.div3 {
    grid-area: center_b;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: white;
}

.main_grid{
    display: grid;
    grid-template-areas: 
        'header header header'
        'left_b center_b right_b'
        'left_b center_b right_b'
        'left_b center_s right_b'
        'footer footer right_b'
    ;
    width: 100%;
    height: 100%;
    grid-template-rows: 20% 60% 20%;
    grid-template-columns: 14% 72% 14%;
}

.center-img {
  display: block;
  margin: 0 auto;
  margin-bottom:-2%;
  border-radius:20px; 
  width: 25%;
}

ol {
    list-style-position: inside; 
    text-align: center;
}

ul {
    list-style-position: inside; 
    text-align: center;
}

.left-text {
    padding-left: 5%;
    padding-top: 2%;
    align-self: start;
}

body {
    margin: 0;
  }