.div1 {
    min-height: 15vh;
    display: grid;
    grid-template-columns: 1fr auto;
    justify-content: space-between;
    text-align: end;
    align-items: center;
    background-color: cornflowerblue;
}

.main{
    min-height: 85vh;
    display: grid;
    grid-template-columns: 80% 1fr;
}

.div6 {
    padding-left: 2%;
    min-height: 15vh;
    display: grid;
    text-align: end;
    grid-template-columns: 1fr auto;
    align-items: center;
    background-color: cornflowerblue;
}

.main-space{
    display: grid;
    grid-template-rows: 1fr min-content;
}

.main-content{
    flex-grow: 1;
    display: grid;
    grid-template-columns: 25% 1fr;
}

.main-center{
    display: grid;
    width: 100%;
    grid-template-rows: 1fr min-content;
    justify-content: space-between;
}

.div4 {
    display: grid;
    text-align: end;
    background-color: coral;
}

.div2 {
    min-height: 100%;
    padding: 0 15px;
    text-align: end;
    background-color: coral;
}

.div5 {
    display: grid;
    width: 100%;
    grid-template-rows: 1fr min-content;
    justify-content: center;
    text-align: center;
    background-color: greenyellow;
}

.div3 {
    display: grid;
    width: 100%;
    grid-template-rows: 1fr min-content;
    text-align: end;
    justify-content: end;
    align-items: center;
    background-color: white;
}

.center-img {
  display: block;
  margin: 0 auto;
  margin-bottom:-2%;
  border-radius:20px; 
  width: 25%;
}

ol {
    list-style-position: inside; 
    text-align: center;
}

ul {
    list-style-position: inside; 
    text-align: center;
}

.left-text {
    padding-left: 5%;
    display: flex;
    justify-content: flex-start;
}

body {
    margin: 0;
  }