body{
    display: grid;
    margin: 0;
    padding: 0;
    margin-top: 100px;
}

.main{
    display: grid;
    justify-self: center;
    width: 1000px;
    height: 800px;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 33% 33% 33%;

    grid-template-areas: 
        'upper-text image1 image2'
        'upper-text center-text image3'
        'image4 lower-text lower-text'
    ;
}

.upper-text{
    display: grid;
    grid-area: upper-text;
    place-items: center;
    width: 300px;
    height: 500px;
    padding-left: 5%;
    padding-right: 5%;
    background-color: #14b6b8;
    color: white;
}

.text-font-u{
    font-size: 40px;
}


.center-text{
    display: grid;
    grid-area: center-text;
    text-align: center;
    place-items: center;
    width: 315px;
    color: #14b6b8;
    border: 2px solid #14b6b8;
    margin-bottom: 25px;
    font-size: 45px;
    margin-left: 10%;
}

.lower-text{
    grid-area: lower-text;
    height: 240px;
    width: 600px;
    text-align: left;
    background-color: #b34c4c;
    color: white;
    margin-left: 5%;
    padding-left: 5%;
    padding-right: 5%;
}

.image1{
    grid-area: image1;
    position: relative;
    height: 25vh;
    width: 320px;
    margin-left: 10%;
}

.image2{
    grid-area: image2;
    position: relative;
    max-height: 25vh;
    height: 25vh;
    width: 320px;
    margin-left: 15%;
}

.image3{
    grid-area: image3;
    position: relative;
    height: 25vh;
    width: 320px;
    margin-left: 15%;
}

.image4{
    grid-area: image4;
    position: relative;
    height: 25vh;
    width: 330px;
}

.read-more{
    margin-top: 5%;
}

.read-more-button{
    background-color: white;
    color: gray;
    border: none;
    font-size: 15px;
    padding: 10px 20px;
}

